
<div class="wrapper ">

  <!-- Page Content Holder -->
  <div id="content" class="createcontent">
      <form name="form" (ngSubmit)="create()" #f="ngForm" novalidate>

          <div class="form-row">
              <div class="form-group col-md-12">
                <h2 *ngIf='!isEditMode'>Create Salesman</h2>
                <h2 *ngIf='isEditMode'>Edit Salesman</h2>
              </div>
          </div>

          <div class="form-row">
              <div class="form-group col-md-4">
                  <label for="inputName">Salesman Name</label>
                  <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Name" [(ngModel)]="newSalesman.salesmanName">
              </div>
              <div class="form-group col-md-4">
                  <label for="keycontact">Salesman Contact </label>
                  <input type="text" class="form-control" name="keycontact" id="keycontact" #keycontact="ngModel" [(ngModel)]="newSalesman.salesmanContact"
                      placeholder="Salesman contact">
              </div>
              <div class="form-group col-md-4">
                  <label for="contactNumber">Salesman Email</label>
                  <input type="text" name="contactNumber" [(ngModel)]="newSalesman.salesmanEmail" class="form-control" id="contactNumber"
                      placeholder="Salesman Email">
              </div>
          </div>      
          <div class="form-row">
         
              <div class="form-group col-md-4">
                  <label for="Remarks">Remarks</label>
                  <textarea [(ngModel)]="newSalesman.remarks" class="form-control" name="Remarks" rows="1" id="Remarks" placeholder="Remarks"></textarea>
              </div>
          </div>

          <div class="form-row">
                <div class="form-group col-md-12">
                    <button  type="submit" class="btn btn-primary">Add Salesman</button>
                    <button *ngIf='isEditMode' type="submit" class="btn btn-primary">Update </button>
                </div>
            </div>
      </form>
  </div>






  <!-- jQuery CDN -->

  <!-- Bootstrap Js CDN -->


  <script type="text/javascript">
      $(document).ready(function () {
          $('#sidebarCollapse').on('click', function () {
              $('#sidebar').toggleClass('active');
          });
      });
  </script>