/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.wrapper {
    display: flex;
    align-items: stretch;
}

.createcontent{
    padding-top: 0px !important;
}

.listcontenttable{
    padding-top: 0px !important;
}
tr:nth-child(even) {background-color:lightblue}
.dot {
    max-width:180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

