<div class="wrapper ">
    <div>
        <app-sidebar></app-sidebar>
    </div>
    <!-- Page Content Holder -->
    <div id="content" class="listcontent listcontenttable">
        <h2>Confirmed Purchase Orders</h2>
        <div style="height:20px"></div>
        <div>
            <table class="table table-hover table-responsive table-bordered" *ngIf='purchaseorders && purchaseorders.length'>
                <thead class="thead-dark">
                    <tr>
                        <th>PO ID</th>
                        <th>Supplier</th>
                        <th>SupplierRefNo</th>
                        <th>SalesPerson</th>
                        <th>Currency</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th>Expiry</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let purchaseorder of purchaseorders'>
                        <td>
                            <button type="button" class="btn btn-link">
                                <a [routerLink]="['/quotationdetails', purchaseorder.Id]">{{ purchaseorder.Id}}</a>
                            </button>

                        </td>
                        <td>{{ purchaseorder.Supplier}}</td>
                        <td>{{ purchaseorder.SupplierRefNo}}</td>
                        <td>{{ purchaseorder.SalesPerson }}</td>                       
                        <td>{{ purchaseorder.Currency }}</td>
                        <td>{{ purchaseorder.Amount }}</td>
                        <td>{{ purchaseorder.Status }}</td>
                        <td>{{ purchaseorder.Expiry }}</td>
                        <td>{{ purchaseorder.Remark }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>