<div class="wrapper ">

    <!-- Page Content Holder -->
    <div id="content" class="createcontent">
        <form name="form" #f="ngForm" [formGroup]="customerForm" novalidate>

            <div class="row">
                <div class="form-group col-md-12">
                    <h2 *ngIf='!isEditMode'>Create Customer</h2>
                    <h2 *ngIf='isEditMode'>Edit Customer</h2>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputName">Customer Name</label>
                    <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Name" [(ngModel)]="newCustomer.customerName"
                        formControlName="custName">
                    <div *ngIf="custName.invalid && (custName.dirty || custName.touched)"
                        class="alert-danger">
                        <div *ngIf="custName.errors.required">
                            Customer Name is Required
                        </div>
                        
                </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="keycontact">Customer Contact </label>
                    <input type="text" class="form-control" name="keycontact" id="keycontact" [(ngModel)]="newCustomer.customerContactName" placeholder="contact person"
                        formControlName="contactPerson">
                    <div *ngIf="contactPerson.invalid && (contactPerson.dirty || contactPerson.touched)"
                        class="alert-danger">
                        <div *ngIf="contactPerson.errors.required">
                            Contact Person is Required
                        </div>
                        <div *ngIf="contactPerson.errors.pattern">
                                Please enter alpbhabets
                            </div>
                        
                    </div>

                </div>

                <div class="form-group col-md-4">
                    <label for="keycontactnumber">Contact Number </label>
                    <input type="text" class="form-control" name="keycontactnumber" id="keycontactnumber" formControlName="contactNumber" [(ngModel)]="newCustomer.customerContactNumber"
                        placeholder="Customer Number" maxlength="10">
                    <div *ngIf="contactNumber.invalid && (contactNumber.dirty || contactNumber.touched)"
                        class="alert-danger">
                        <div *ngIf="contactNumber.errors.required">
                            Contact Number is Required
                        </div>
                        <div *ngIf="contactNumber.errors.pattern">
                            Please enter valid format
                        </div>
                        <div *ngIf="contactNumber.errors.minlength">
                            Please enter 10 digit number
                        </div>


                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="contactNumber">Customer Email</label>
                    <input type="text" name="contactNumber" [(ngModel)]="newCustomer.customerContactEmail" class="form-control" id="contactNumber"
                        placeholder="Customer Email" formControlName="email">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                        class="alert-danger">
                        <div *ngIf="email.errors.required">
                            Contact Email is required
                        </div>
                        <div *ngIf="email.errors.pattern">
                            Please enter valid email
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="Remarks">Remarks</label>
                    <textarea [(ngModel)]="newCustomer.customerRemarks" class="form-control" name="Remarks" rows="1" id="Remarks" placeholder="Remarks"
                        formControlName="remarks" ></textarea>

                    <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)"
                        class="alert-danger">
                        <div *ngIf="remarks.errors.maxlength ">
                            Text length is 200
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <button *ngIf='!isEditMode' (click)="create()" type="submit" [disabled]="customerForm.pristine || customerForm.invalid" class="btn btn-primary">Add Customer</button>
                    <button *ngIf='isEditMode' (click)="create()" type="submit" [disabled]="customerForm.invalid" class="btn btn-primary">Update </button>
                    <button (click)="cancel()" class="btn btn-primary">Cancel</button>

                </div>
            </div>
        </form>
    </div>






    <!-- jQuery CDN -->

    <!-- Bootstrap Js CDN -->


    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>