<div class="wrapper ">
  <!--  <div>
      <app-sidebar></app-sidebar>
  </div> -->
  <!-- Page Content Holder -->
  <div id="content" class="listcontent listcontenttable">
    <h2>Salesman List</h2>
    <div style="height:20px"></div>
    <div>
      <div class="loader" *ngIf='!salesmanList.length'></div>
      <table class="table table-hover table-responsive table-bordered" *ngIf='salesmanList && salesmanList.length'>
        <thead class="thead-dark">
          <tr>
            <th>Salesman Name</th>
            <th>Contact </th>
            <th>Contact Email</th>
            <th>Remarks</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor='let salesman of salesmanList'>
            <tr *ngIf="salesman.isDeleted == false">

              <td>
                <button type="button" class="btn btn-link">
                  <a [routerLink]="['/salesmandetails', salesman.salesmanid]">{{ salesman.salesmanName }}</a>
                </button>
              </td>
              <td>{{ salesman.salesmanContact}}</td>
              <td>{{ salesman.salesmanEmail }}</td>
              <td class="dot" title="{{salesman.remarks}}">{{ salesman.remarks }}</td>
              <td>
                <button class="btn btn-primary" (click)="delete(salesman.salesmanid ,salesman)">Delete</button>
              </td>


            </tr>
          </ng-container>
        </tbody>

      </table>
    </div>
  </div>