<div class="wrapper ">
  <!--  <div>
      <app-sidebar></app-sidebar>
  </div> -->
  <!-- Page Content Holder -->
  <div id="content" class="listcontent listcontenttable">
    <h2>Customer List</h2>
    <div style="height:20px"></div>
    <div>
      <div class="loader" *ngIf='!customerList.length'></div>
      <table class="table table-hover table-responsive table-bordered" *ngIf='customerList && customerList.length'>
        <thead class="thead-dark">
          <tr>
            <th>Customer Name</th>
            <th>Contact Person </th>
            <th>Contact Number</th>
            <th>Contact Email</th>
            <th>Remarks</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor='let customer of customerList'>
            <tr *ngIf="customer.isDeleted == false">

              <td>
                <button type="button" class="btn btn-link">
                  <a [routerLink]="['/customerdetails', customer.customerId]">{{ customer.customerName }}</a>
                </button>
              </td>
              <td>{{ customer.customerContactName}}</td>
              <td>{{ customer.customerContactNumber}}</td>
              <td>{{ customer.customerContactEmail }}</td>
              <td class="dot" title="{{ customer.customerRemarks }}">{{ customer.customerRemarks }}</td>
              <td>
                <button class="btn btn-primary" (click)="delete(customer.customerId ,customer)">Delete</button>

              </td>
            </tr>
          </ng-container>
        </tbody>

      </table>
    </div>
  </div>