.headerStyle{
    align-content: center;
    vertical-align: -webkit-baseline-middle;
}
.logoimg{
    width: 150px;
}
.headerText{
    font-size: 50px;
   padding-top: 50px;
}
.titlestyle
{
    vertical-align: -webkit-baseline-middle;
}