<nav id="sidebar" *ngIf="isLoggedIn$ | async as isLoggedIn" class="sidebarstyle">

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#">Dashboard</a>
        </li>
        <li >

            <a href="#quotationsSubmenu" data-toggle="collapse" aria-expanded="false">Quotations</a>
            <ul class="collapse list-unstyled" id="quotationsSubmenu">
                <li>
                    <a [routerLink]="['/listquotation']">Quotation List</a>
                </li>
                <li>
                    <a [routerLink]="['/createquotation']">Create Quotation</a>
                </li>
            </ul>
        </li>
        <li>

            <a href="#PurchaseSubmenu" data-toggle="collapse" aria-expanded="false">Purchase Orders</a>
            <ul class="collapse list-unstyled" id="PurchaseSubmenu">
                <li>
                    <a [routerLink]="['/initialpolist']">Closed PO list</a>
                </li>
                <li>
                    <a [routerLink]="['/listpo']">Ongoing PO List</a>
                </li>

            </ul>

        </li>

        <li>

            <a href="#paymentsSubmenu" data-toggle="collapse" aria-expanded="false">Payments</a>
            <ul class="collapse list-unstyled" id="paymentsSubmenu">
                <li>       <a [routerLink]="['/popaymentlist']">Make PO Payment</a>          
                        
                    <a [routerLink]="['/listpayments']">Payments Till Date</a>
                </li>
            </ul>
        </li>
       <!--  <li>
            <a href="#customerSubmenu" data-toggle="collapse" aria-expanded="false">Customers</a>
            <ul class="collapse list-unstyled" id="customerSubmenu">
                <li>
                    <a href="#">Add Customer</a>
                </li>
            </ul>
        </li> -->

        <li>
            <a href="#supplierSubmenu" data-toggle="collapse" aria-expanded="false">Supplier</a>
            <ul class="collapse list-unstyled" id="supplierSubmenu">
                <li>
                    <a [routerLink]="['/createsupplier']">Add Supplier</a>
                </li>
                <li>
                    <a [routerLink]="['/listsupplier']">Supplier List</a>
                </li>
            </ul>
           
        </li>

        <li>
            <a href="#SalesmanSubmenu" data-toggle="collapse" aria-expanded="false">Salesman</a>
            <ul class="collapse list-unstyled" id="SalesmanSubmenu">
                <li>
                    <a [routerLink]="['/createsalesman']">Add Salesman</a>
                </li>
                <li>
                    <a [routerLink]="['/listsalesman']">Salesman List</a>
                </li>
            </ul>
           
        </li>

        <li>
            <a href="#CustomerSubmenu" data-toggle="collapse" aria-expanded="false">Customer</a>
            <ul class="collapse list-unstyled" id="CustomerSubmenu">
                <li>
                    <a [routerLink]="['/createcustomer']">Add Customer</a>
                </li>
                <li>
                    <a [routerLink]="['/listcustomer']">Customer List</a>
                </li>
            </ul>
           
        </li>
        <li>
            <a href="#SettingsSubmenu" data-toggle="collapse" aria-expanded="false">Settings</a>
            <ul class="collapse list-unstyled" id="SettingsSubmenu">
                <li>
                    <a [routerLink]="['/createuser']">Create User</a>
                </li>
                <li>
                    <a [routerLink]="['/listuser']">Users List</a>
                </li>
            </ul>
           
        </li>
       <!--  <li>


            <a href="#SettingsSubmenu" data-toggle="collapse" aria-expanded="false">Settings</a>
            <ul class="collapse list-unstyled" id="SettingsSubmenu">
                <li>
                    <a href="#CountrySubmenu">Country</a>
                    <ul class="collapse list-unstyled" id="CountrySubmenu">
                        <li>
                            <a href="#">List Countries</a>
                        </li>
                        <li>
                            <a href="#">Add Countries</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">List Products</a>
                </li>
                <li>
                    <a href="#">Create Products</a>
                </li>
            </ul>
        </li> -->
       <!--  <li>
            <a href="#">Manage Accounts</a>
            <a href="#AccountsSubmenu" data-toggle="collapse" aria-expanded="false">Accounts</a>
            <ul class="collapse list-unstyled" id="AccountsSubmenu">
                <li>
                    <a href="#">List Users</a>
                </li>

            </ul>
        </li> -->
    </ul>


</nav>