<div class="wrapper ">
    <!-- <div>
        <app-sidebar></app-sidebar>
    </div> -->
    <!-- Page Content Holder -->
    <div id="content" class="listcontent listcontenttable">
        <h2>Initial Purchase Orders</h2>
        <div style="height:20px"></div>
        <div>
            <table class="table table-hover table-responsive table-bordered" *ngIf='purchaseorders && purchaseorders.length'>
                <thead class="thead-dark ">
                    <tr>
                        <th class="text-center">PO ID</th>
                        <th class="text-center">Customer</th>
                        <th class="text-center">Contact</th>
                        <th class="text-center">Salesman</th>
                        <th class="text-center">Value</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Follow Up</th>
                        <th class="text-center">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let purchaseorder of purchaseorders'>
                        <td>
                            <div style="min-width:209px">
                                <button type="button" class="btn btn-link">
                                    <a [routerLink]="['/quotationdetails', purchaseorder.Id]">{{ purchaseorder.Id}}</a>
                                </button>
                                <button type="button" class="btn btn-primary">
                                    <a [routerLink]="['/newpo', purchaseorder.Id]">Confirm</a>
                                </button>
                            </div>
                        </td>
                        <td>{{ purchaseorder.customerName}}</td>
                        <td>{{ purchaseorder.customerContact}}</td>
                        <td>{{ purchaseorder.salesmanName }}</td>
                        <td>{{ purchaseorder.totalvalue }}</td>
                        <td>{{ purchaseorder.status }}</td>
                        <td>{{ purchaseorder.nextFollowupdate }}</td>
                        <td>{{ purchaseorder.remarks }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>