<div class="wrapper ">
<div>
  <app-sidebar></app-sidebar>
</div>
<div id="content" class="createcontent">
  <h2>Summary of activities</h2>
  <table class="table table-responsive">
     
    <tbody>
      <tr>        
        <td><h4> New Quotations :</h4></td>
        <td class="text-left"><h4>5</h4></td>
        <td> <button type="button" class="btn btn-link"><a [routerLink]="['/listquotation']" ><h4>View</h4></a></button>
        </td>
      </tr>
      <tr>
       
        <td><h4>Purchase Orders:</h4></td>
        <td class="text-left"><h4>2</h4></td>
        <td> <button type="button" class="btn btn-link"><a><h4>View</h4></a></button>
        </td>
      </tr>
     
    </tbody>
  </table>
</div>
</div>