<div class="wrapper ">

    <!-- Page Content Holder -->
    <div id="content" class="createcontent">
        <form name="form" (ngSubmit)="register()" #f="ngForm" novalidate>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <h2 *ngIf='!isEditMode'>Create Quotation</h2>
                    <h2 *ngIf='isEditMode'>Edit Quotation</h2>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputName">Customer Name</label>
                    <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Name" [(ngModel)]="newQuotation.customerName">
                </div>
                <div class="form-group col-md-4">
                    <label for="keycontact">Customer Key Contact</label>
                    <input type="text" class="form-control" name="keycontact" id="keycontact" #keycontact="ngModel" [(ngModel)]="newQuotation.customerContact"
                        placeholder="Contact">
                </div>
                <div class="form-group col-md-4">
                    <label for="NextFollowup">Next Follow Up</label>
                    <input type="date" name="NextFollowup" [(ngModel)]="newQuotation.nextFollowupdate" class="form-control" id="NextFollowup"
                        placeholder="Follow Up date">
                </div>
            </div>

            <div class="form-row">
                <!-- <div class="form-group col-md-6">
                  <label for="quotationName">Quotation Name</label>
                  <input type="text" class="form-control" id="quotationName" placeholder="Quotation Name">
                </div> -->

                <div class="form-group col-md-4">
                    <label for="quotationreference">Quotation Reference</label>
                    <input type="text" name="quotationreference" readonly class="form-control" [(ngModel)]="newQuotation.quotationReference"
                        id="quotationreference" placeholder="Quotation Reference">
                </div>
                <div class="form-group col-md-4">
                    <label for="SalesmanName">Salesman Name</label>                    
                    <select [(ngModel)]="selectedsalesman" id="SalesmanName" name="SalesmanName" class="form-control">
                        <option *ngFor="let s of salesmanList" [ngValue]="s.salesmanid">{{s.salesmanName}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="TotalValue">Total Value</label>
                    <input type="text" [(ngModel)]="newQuotation.totalvalue" name="TotalValue" class="form-control" id="TotalValue" placeholder="Quotation total Value">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="description">Material Description</label>
                    <textarea name="description" [(ngModel)]="newQuotation.materialDescription" class="form-control" rows="2" id="description"
                        placeholder="Description"></textarea>
                </div>
            </div>

            <div class="form-row">

            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="Status">Status</label>
                    <select id="Status" name="Status" [(ngModel)]="newQuotation.status" class="form-control">
                        <option selected>Choose...</option>
                        <option>Dropbox</option>
                        <option>Bidding</option>
                        <option>OnGoing</option>
                        <option>TechnicalReview</option>
                        <option>PO</option>
                        <option>Cancelled</option>
                        <option>Lost</option>
                    </select>
                </div>

                <!--  <div class="form-group col-md-4">
                    <label for="TotalValueSplit">Value Split</label>
                    <input type="text" name="TotalValueSplit" [(ngModel)]="newQuotation.totalValueSplit" class="form-control" id="TotalValueSplit"
                        placeholder="Quotation Value Split">
                </div> -->
                <div class="form-group col-md-4">
                    <label for="Remarks">Remarks</label>
                    <textarea [(ngModel)]="newQuotation.remarks" class="form-control" name="Remarks" rows="1" id="Remarks" placeholder="Remarks"></textarea>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-12">
                    <button *ngIf='!isEditMode' type="submit" class="btn btn-primary">Create</button>
                    <button *ngIf='isEditMode' type="submit" class="btn btn-primary">Update</button>

                </div>
            </div>

        </form>

    </div>






    <!-- jQuery CDN -->

    <!-- Bootstrap Js CDN -->


    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>