<div class="wrapper ">
    <!--  <div>
        <app-sidebar></app-sidebar>
    </div> -->
    <!-- Page Content Holder -->
    <div id="content" class="listcontent listcontenttable">
        <h2>Quotation List</h2>
        <div style="height:20px"></div>
        <div>
            <div class="loader" *ngIf='!quotationList.length' ></div>
            <table class="table table-hover table-responsive table-bordered" *ngIf='quotationList && quotationList.length'>
                <thead class="thead-dark">
                    <tr>
                        <th height="50" bgcolor="#6599F">Customer Name</th>
                        <th bgcolor="#6599F">Contact</th>
                        <!-- 
    <th>Quotation Name</th> -->
                        <th bgcolor="#6599F">Salesman Name</th>
                        <th bgcolor="#6599F">Total Value</th>
                        <th bgcolor="#6599F">Status</th>
                        <th bgcolor="#6599F">Next Follow Up</th>
                        <th bgcolor="#6599F">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let quotation of quotationList'>

                        <td>
                            <button type="button" class="btn btn-link">
                                <a [routerLink]="['/quotationdetails', quotation.quotation.qid]">{{ quotation.customer.customerName }}</a>
                            </button>
                            <button type="button" style="float:right" class="btn btn-primary">
                                <a [routerLink]="['/newpo', quotation.quotation.qid]">Convert to PO</a>
                            </button>
                        </td>
                        <td>{{ quotation.customer.customerContactNumber}}</td>
                        <!--  <td>{{ quotation.quotationName}}</td> -->
                        <td>{{ quotation.salesman.salesmanName }}</td>
                        <td>{{ quotation.quotation.totalvalue }}</td>
                        <td>{{ quotation.quotation.status }}</td>
                        <td>{{ quotation.quotation.nextFollowupdate }}</td>
                        <td>{{ quotation.quotation.remarks }}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>