<div class="wrapper ">
   <!--  <div>
        <app-sidebar></app-sidebar>
    </div> -->
    <!-- Page Content Holder -->
    <div id="content" class="listcontent listcontenttable">
        <h2>List Quotation</h2>
        <div style="height:20px"></div>
        <div>
            <table class="table table-hover table-responsive table-bordered" *ngIf='quotations && quotations.length'>
                <thead class="thead-dark">
                    <tr>
                        <th>Customer Name</th>
                        <th>Contact</th>
                        <!-- 
    <th>Quotation Name</th> -->
                        <th>Salesman Name</th>
                        <th>Total Value</th>
                        <th>Status</th>
                        <th>Next Follow Up</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let quotation of quotations'>

                        <td>
                            <button type="button" class="btn btn-link">
                                <a [routerLink]="['/quotationdetails', quotation.customerName]">{{ quotation.customerName }}</a>
                            </button>
                        </td>
                        <td>{{ quotation.customerContact}}</td>
                        <!--  <td>{{ quotation.quotationName}}</td> -->
                        <td>{{ quotation.salesmanName }}</td>
                        <td>{{ quotation.totalvalue }}</td>
                        <td>{{ quotation.status }}</td>
                        <td>{{ quotation.nextFollowupdate }}</td>
                        <td>{{ quotation.remarks }}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>